.overflow {
    height: 50%;
    overflow: hidden;
}

.overflow .card-img-top {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.overflow .card-img-top:hover {
    transform: scale(1.8);
}

.nav-link {
    color: grey;
}

.nav-link:hover {
    color: white;
}

.img-fluid {
    border-radius: 10%;
}

.navbar-toggler[aria-expanded='true']:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 25%;
    transition: 0.5s ease-in-out;
}

.navbar-toggler[aria-expanded='false']:focus {
    outline: none;
    box-shadow: none;
    transition: 0.5s ease-in-out;
}